/*Lobby List*/
  .lobby-list-tools {
     /*min-height: 100px !important;*/
     /*min-height: 72px !important;*/
     min-height: 72px !important;
  }

  .lobby-list-search {
  }

  .lobby-list-search-input-container {
    margin: 16px 18px !important;
  }

  .lobby-list-filter-button-show {
    background-color: var(--blue-800);
    color: white !important;
  }

  .lobby-list-filter-button-show md-icon {
    color: white !important;
  }

  .lobby-list-filter {
    background-color: var(--blue-800);
    color: white !important;
    min-height: 64px !important;
    opacity: 1;
    overflow: hidden;
    /*min-height: 100px !important;
    max-height: 100px !important;*/
    transition: all 0.5s ease-in-out;
  }

  .lobby-list-filter-hide {
    background-color: var(--blue-800);
    color: white !important;
    min-height: 0px !important;
    max-height: 0px !important;
    opacity: 0;
    /*min-height: 100px !important;
    max-height: 100px !important;*/
  }

  .lobby-list-filter-format {
    background-color: white !important;
    padding-left: 8px;
    border-radius: 2px;
  }

  .lobby-list-filter-type {
    background-color: white !important;
    padding-left: 8px;
    border-radius: 2px;
  }

  .lobby-list-chips {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .lobby-list-content {
    overflow-y: auto;
  }

  .lobby-list-card {
    background-color: white;
    margin: 16px !important;
  }

  .lobby-list-card:nth-child(odd) {
    background-color: var(--grey-200);
  }

  .lobby-list-card:hover {
    background-color: var(--grey-300);
  }

  .lobby-list-lock {

  }

  .lobby-list-status {
    width: 100px;
  }

  .lobby-list-title {
    font-size: 16px;
  }

  .lobby-list-format {
    width: 100px;
  }

  .lobby-list-type {
    width: 100px;
  }

  .lobby-list-player {
    width: 100px;
  }

  .lobby-list-join {
  }

/*Lobby Chat*/
  .lobbychat {
    background-color: var(--grey-100);
    color: var(--grey-900);
    padding: 0px !important;

    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .lobbychat-closed {
    min-width: 0px !important;
    width: 0px !important;
    opacity: 0;
  }

  .lobbychat-opened {
    width: 380px;
    opacity: 1;
  }

  .lobbychat-toolbar {
    background-color: var(--blue-700);
    padding: 15px !important;

    transition: all 0.5s ease-in-out;
  }

  .lobbychat-toolbar-label {
    white-space: nowrap;
  }

  .lobbychat-toolbar-closed {
    width: 58px;
  }

  .lobbychat-toolbar-opened {
    width: 380px;
  }

/*Lobby Chat List*/
  .lobbychat-list {
    overflow-y: auto;
  }

  .lobbychat-list md-list-item {
    padding: 4px;
    margin-bottom: 6px;
    background-color: var(--grey-200);
  }

  .lobbychat-list md-list-item:hover {
    background-color: var(--grey-300);
  }

  .lobbychat-list-avatar-img {
    width: 48px !important;
    min-width: 48px !important;
    height: 48px !important;
    margin: 5px !important;
    background-size: cover;
    border-radius: 24px;
  }

  .lobbychat-list-avatar-text-div {
    color: var(--grey-900);
    margin-left: 4px;
    padding: 6px;
  }

  .lobbychat-list-avatar-text-username {
    font-size: 18px;
  }

  .lobbychat-list-avatar-text-status {
    font-size: 14px;
  }

  .lobbychat-list-avatar-options {
    font-size: 24px !important;
    color: var(--grey-900);
  }

/*Lobby Chat Chatbox*/
  .lobbychat-chatbox {
    background-color: var(--grey-100);
    color: var(--grey-900);
    margin-top: 8px !important;
  }

  .lobbychat-chatbox-display {
    background-color: var(--grey-100);
    overflow-y: auto;
    display: block;
  }

  .lobbychat-chatbox-display md-list-item {
    margin-bottom: 8px !important;
    padding: 8px !important;
    color: var(--grey-900) !important;
    font-size: 14px !important;
    line-height: 24px !important;
  }

  .lobbychat-chatbox-display md-list-item:nth-child(odd) {
    background-color: var(--grey-200);
  }

  .lobbychat-chatbox-input {
    background-color: var(--grey-300);

  }

  .lobbychat-chatbox-input .lobbychat-chatbox-input-container {
    padding: 0px !important;
    margin: 20px 0px 0px 8px !important;
  }

  .lobbychat-chatbox-input .lobbychat-chatbox-input-textarea {
    background-color: var(--grey-300);
    margin-top: 16px !important;
  }
