<!--<div layout="row" flex>
    <md-card id="gc-container-1" layout="column" flex>

        <div layout="row" ng-style="{height: game.cardRatio * game.getMinSize(1) + 'px'}">
            <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', height: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[3]+'-900)'}">

            </div>
            <div ng-style="{
                'padding-top': 0.1 * game.cardRatio * game.getMinSize(1) + 'px', 
                'padding-bottom': 0.1 * game.cardRatio * game.getMinSize(1) + 'px', 
                'background-color': 'var(--'+game.color[3]+'-500)'
            }" flex>

                <div style="background-image: url(./assets/images/mtg/back.jpg); background-size: 70% 100%; background-position: center; background-repeat: no-repeat;" 
                ng-style="{width: 0.8 * game.cardRatio * game.getMinSize(1) + 'px', height: 0.8 * game.cardRatio * game.getMinSize(1) + 'px'}"></div>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', height: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[3]+'-400)'}">
            
            </div>
        </div>
        <div layout="row" flex>
            <div layout="column" ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px'}">
                <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[2]+'-500)'}" flex>
                
                </div>
                <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', height: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[2]+'-400)'}">
                
                </div>
                <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', height: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[2]+'-300)'}">
                
                </div>
            </div>
            <div layout="row" style="background-color: white;" flex>
                <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(1) + 'px'}">
                
                </div>
                <div layout="column" flex>
                    <div flex>
                    
                    </div>
                    <div flex>
                    
                    </div>
                </div>
                <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(1) + 'px'}">
                
                </div>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(1) + 'px', 'background-color': 'var(--'+game.color[3]+'-300)'}">
            
            </div>
        </div>

    </md-card>-->
    <md-card id="gc-container-3" layout="column" flex>

        <div layout="row" ng-style="{height: game.cardRatio * game.getMinSize(3) + 'px'}">
            <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', height: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[3]+'-900)'}">

            </div>
            <div ng-style="{
                'padding-top': 0.1 * game.cardRatio * game.getMinSize(3) + 'px', 
                'padding-bottom': 0.1 * game.cardRatio * game.getMinSize(3) + 'px', 
                'background-color': 'var(--'+game.color[3]+'-500)'
            }" flex>

                <div style="background-image: url(./assets/images/mtg/back.jpg); background-size: 70% 100%; background-position: center; background-repeat: no-repeat;" 
                ng-style="{width: 0.8 * game.cardRatio * game.getMinSize(3) + 'px', height: 0.8 * game.cardRatio * game.getMinSize(3) + 'px'}"></div>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', height: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[3]+'-400)'}">
            
            </div>
        </div>
        <div layout="row" flex>
            <div layout="column" ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px'}">
                <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[2]+'-500)'}" flex>
                
                </div>
                <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', height: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[2]+'-400)'}">
                
                </div>
                <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', height: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[2]+'-300)'}">
                
                </div>
            </div>
            <div layout="row" style="background-color: var(--red-800);" flex>
                <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(3) + 'px'}">
                
                </div>
                <div layout="column" flex>
                    <div flex>
                    
                    </div>
                    <div flex>
                    
                    </div>
                </div>
                <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(3) + 'px'}">
                
                </div>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(3) + 'px', 'background-color': 'var(--'+game.color[3]+'-300)'}">
            
            </div>
        </div>

    </md-card>
<!--</div>-->

<md-card id="gc-container-2" layout="column" flex>

    <div layout="row" flex>
        <div layout="column" ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px'}">
            <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', height: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[0]+'-300)'}">
                <label layout="column" class="gc-label" ng-style="{
                    'font-size': 0.12 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-left': 0.16 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-top': 0.06 * game.cardRatio * game.getMinSize(2) + 'px'
                }">Graveyard</label>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', height: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[0]+'-400)'}">
                <label layout="column" class="gc-label" ng-style="{
                    'font-size': 0.12 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-left': 0.32 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-top': 0.06 * game.cardRatio * game.getMinSize(2) + 'px'
                }">Deck</label>
            </div>
            <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[0]+'-500)'}" flex>
            
            </div>
        </div>
        <div layout="row" style="background-color: var(--blue-800);" flex>
            <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(2) + 'px'}">
            
            </div>
            <div layout="column" flex>
                <div flex>
                    <div style="background-image: url(./assets/images/mtg/back.jpg); background-size: 70% 100%; background-position: center; background-repeat: no-repeat;" 
                ng-style="{width: 0.8 * game.cardRatio * game.getMinSize(2) + 'px', height: 0.8 * game.cardRatio * game.getMinSize(2) + 'px'}"></div>
                </div>
                <div flex>
                
                </div>
            </div>
            <div ng-style="{width: 2 * game.cardRatio * game.getMinSize(2) + 'px'}">
            
            </div>
        </div>
        <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[1]+'-300)'}">
            <label layout="column" class="gc-label" ng-style="{
                    'font-size': 0.12 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-left': 0.34 * game.cardRatio * game.getMinSize(2) + 'px', 
                    'margin-top': 0.06 * game.cardRatio * game.getMinSize(2) + 'px'
                }">Exile</label>
        </div>
    </div>
    <div layout="row" ng-style="{height: game.cardRatio * game.getMinSize(2) + 'px'}">
        <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', height: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[1]+'-900)'}">

        </div>
        <div ng-style="{
            'padding-top': 0.1 * game.cardRatio * game.getMinSize(2) + 'px', 
            'padding-bottom': 0.1 * game.cardRatio * game.getMinSize(2) + 'px', 
            'background-color': 'var(--'+game.color[1]+'-500)'
        }" flex>

            <div style="background-image: url(./assets/images/mtg/back.jpg); background-size: 70% 100%; background-position: center; background-repeat: no-repeat;" 
            ng-style="{width: 0.8 * game.cardRatio * game.getMinSize(2) + 'px', height: 0.8 * game.cardRatio * game.getMinSize(2) + 'px'}"></div>
        </div>
        <div ng-style="{width: game.cardRatio * game.getMinSize(2) + 'px', height: game.cardRatio * game.getMinSize(2) + 'px', 'background-color': 'var(--'+game.color[1]+'-400)'}">
            <label layout="column" class="gc-label" ng-style="{
                'font-size': 0.12 * game.cardRatio * game.getMinSize(2) + 'px', 
                'margin-left': 0.14 * game.cardRatio * game.getMinSize(2) + 'px', 
                'margin-top': 0.06 * game.cardRatio * game.getMinSize(2) + 'px'
            }">Commander</label>
        </div>
    </div>

</md-card>