<div layout="row" class="logo md-toolbar-tools" ng-class="Navbar.getLogoClass()">
  <label><md-icon class="md-material-icon toolbar-icon">polymer</md-icon></label>
  <label class="logo-text" ng-show="Navbar.isOpen()">Sideboard</label>
  <span flex></span>
</div>
<div layout="row" class="md-toolbar-tools" style="width: 96px !important;">
  <md-button class="md-icon-button" aria-label="Menu" ng-click="Navbar.onToggle()">
    <md-icon class="md-material-icon toolbar-icon">{{(Navbar.isOpen() ? 'arrow_back' : 'menu')}}</md-icon>
    <md-tooltip md-direction="bottom" class="large">{{(Navbar.isOpen() ? 'Hide Menu' : 'Show Menu')}}</md-tooltip>
  </md-button>

  <md-button class="md-icon-button" aria-label="Fullscreen" ng-click="Fullscreen.toggleAll()">
    <md-icon class="md-material-icon toolbar-icon">{{(Fullscreen.isEnabled() ? 'fullscreen_exit' : 'fullscreen')}}</md-icon>
    <md-tooltip md-direction="bottom" class="large">{{(Fullscreen.isEnabled() ? 'Exit Fullscreen' : 'Fullscreen')}}</md-tooltip>
  </md-button>
</div>
