/*** Friends ***/

/*Friends Dialog*/
  .friends-dialog {
    width: 600px;
    min-height: 160px !important;
    background-color: var(--grey-50);
  }

  .friends-list-content {
    max-height: 500px !important;
  }

  .friends-list md-list-item {
    padding: 4px;
    margin-bottom: 6px;
      background-color: var(--grey-200);
  }

  .friends-list md-list-item:hover {
    background-color: var(--grey-300);
  }

  .friends-avatar-img {
    width: 48px !important;
    min-width: 48px !important;
    height: 48px !important;
    margin: 5px !important;
    background-size: cover;
    border-radius: 24px;
  }

  .friends-avatar-text-div {
    color: var(--grey-900);
    margin-left: 4px;
    padding: 6px;
  }

  .friends-avatar-text-username {
    font-size: 18px;
  }

  .friends-avatar-text-status {
    font-size: 14px;
  }

  .friends-avatar-options {
    font-size: 24px !important;
    color: var(--grey-900);
  }

/*Add Friend Dialog*/
  .addfriend-dialog {
    width: 600px;
    min-height: 160px !important;
    background-color: var(--grey-50);
  }

  .addfriend-search {
  }

  .addfriend-search .addfriend-search-container {
  }

  .addfriend-search .md-icon-button {
  }


/*Create New Game Dialog*/
  .cng-dialog {
    overflow: hidden;
    width: 600px;
    min-height: 160px !important;
    background-color: var(--grey-50);
  }

  .cng-dialog-title {
    margin: 0px !important;
  }

  .cng-dialog-title-input {
    margin: 0px !important;
    margin-top: 16px !important;
  }

  .cng-dialog-password {
    margin: 0px !important;
  }

  .cng-dialog-password-switch {
    margin: 0px !important;
  }

  .cng-dialog-password-input {
    margin: 0px !important;
    margin-left: 16px !important;
  }

  .cng-dialog-settings-label {
    background-color: var(--grey-100) !important;
  }

  .cng-dialog-settings {
    background-color: var(--grey-100) !important;
  }

  .cng-dialog-settings-format-input {
      margin: 0px !important;
  }

  .cng-dialog-settings-type {
    background-color: var(--grey-100) !important;
    margin-top: 16px !important;
  }

  .cng-dialog-settings-type-input {
    margin-right: 8px !important;
  }

  .cng-dialog-settings-players-input {
    margin-left: 8px !important;
  }

/* Game Settings Dialog */
  .gs-dialog {
    overflow: hidden;
    width: 600px;
    min-height: 160px !important;
    background-color: var(--grey-50);
  }

  .gs-dialog-title {
    margin: 0px !important;
  }

  .gs-dialog-title-input {
    margin: 0px !important;
    margin-top: 16px !important;
  }

  .gs-dialog-password {
    margin: 0px !important;
  }

  .gs-dialog-password-switch {
    margin: 0px !important;
  }

  .gs-dialog-password-input {
    margin: 0px !important;
    margin-left: 16px !important;
  }

  .gs-dialog-settings-label {
    background-color: var(--grey-100) !important;
  }

  .gs-dialog-settings {
    background-color: var(--grey-100) !important;
  }

  .gs-dialog-settings-format-input {
      margin: 0px !important;
  }

  .gs-dialog-settings-type {
    background-color: var(--grey-100) !important;
    margin-top: 16px !important;
  }

  .gs-dialog-settings-type-input {
    margin-right: 8px !important;
  }

  .gs-dialog-settings-players-input {
    margin-left: 8px !important;
  }

/* Games List */
  .games-dialog {
    overflow: hidden;
    width: 600px;
    min-height: 160px !important;
    background-color: var(--grey-50);
  }

  .games-dialog-list {
    background-color: white;
  }

  .games-dialog-list md-list-item {
    padding: 8px;
  }

  .games-dialog-list md-list-item:nth-child(odd) {
    background-color: var(--grey-200);
  }

  .games-dialog-list md-list-item:hover {
    background-color: var(--grey-300);
  }

  .games-dialog-list md-list-item:hover {
    background-color: var(--grey-300);
  }

  .games-dialog-list-title {
    font-size: 16px;
    overflow: hidden;
  }