<!DOCTYPE html>
<html>
<head>
  <%- include("partials/head") %>
</head>

<body ng-app="WebApp" ng-controller="AppController" layout="column">

  <md-toolbar layout="row" theme="toolbar" class="toolbar" md-whiteframe="1">
    <%- include("partials/toolbar") %>

    <div class="md-toolbar-tools" flex>
      <h2>Dashboard</h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <section layout="row" flex>
    <%- include("partials/navbar") %>

    <md-content layout="column" flex>
      
    </md-content>
  </section>

  <%- include("partials/scripts") %>
</body>

</html>
