<!DOCTYPE html>
<html>
<head>
  <%- include("partials/head") %>
</head>

<body ng-app="WebApp" ng-controller="AppController" layout="column">

  <section layout="row" flex>
    <span flex></span>
    <section layout="column" flex>
      <span flex></span>
      <md-card>
        <md-toolbar class="toolbar md-toolbar-tools">
          <md-icon class="md-material-icon toolbar-icon">edit</md-icon>
          <h2 style="padding-left: 12px;">Register</h2>
          <span flex></span>
          <md-button ng-href="/login">
            <md-icon class="md-material-icon toolbar-icon">arrow_back</md-icon>
            Back to Login
          </md-button>
        </md-toolbar>
        <section layout="column">
          <% if(errors.length > 0){ %>
            <% errors.forEach(function(error){ %>
              <div class="error-flash" flex>
                <md-icon class="md-material-icon error-flash-icon">error</md-icon>
                <span class="error-flash-text"><%= error %></span>
              </div>
            <% }); %>
          <% } %>

          <% if(success){ %>
            <div class="success-flash" flex>
              <md-icon class="md-material-icon success-flash-icon">check_circle</md-icon>
              <span class="success-flash-text"><%= success %></span>
            </div>
          <% } %>
        </section>
        <md-card-content>
          <form action="/register" method="post" layout="column">
            <md-input-container>
              <label>Username</label>
              <input ng-model="register.username" name="username" type="username">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="register.email" name="email" type="email">
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input ng-model="register.password" name="password" type="password">
            </md-input-container>
            <md-input-container>
              <label>Confirm Password</label>
              <input ng-model="register.password2" name="password2" type="password">
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" flex>Create Account</md-button>
          </form>
        </md-card-content>
      </md-card>
      <span flex></span>
    </section>
    <span flex></span>
  </section>

  <%- include("partials/scripts") %>
</body>

</html>
